PORT=3000
NODE_ENV=development

# (Módulo 2) Banco de dados
DATABASE_URL="postgresql://helpdesk:helpdesk@localhost:5434/helpdesk?schema=public"

# (Módulo 3) Segredo do JWT
JWT_SECRET="troque-por-um-valor-aleatorio-forte"